<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <title>Laboratorio di Programmazione - Autograding</title>
  </head>
  <body>
    <h1 style="margin-top:60px">Laboratorio di Programmazione - Autograding - results</h1>
    {% if data.shell_out.exit_code != 0 %}
      <p id="main">
      <b>Risultati</b> [<a href="/" style="color:#ffffff">indietro</a>]
      <b>Attenzione:</b> hai avuto uno o più errori, se non vedi nessun voto è perchè hanno compromesso l'intera valutazione.
      </p>
    {% else %}
      <p id="main">
      <b>Risultati</b> [<a href="/" style="color:#ffffff">indietro</a>]
      </p>
    {% endif %}
    <pre style='color:#ffffff; margin:30px'>
    {{ data.shell_out.stderr}}
    </pre> 
    <pre style='color:#ffffff; margin:30px'>
    {{ data.shell_out.stdout}}
    </pre> 

    <br/>
    <br/>
    <br/>
    <br/>
    <div id="footer">
      <p align="right" style="margin-right:30px">Stefano Alberto Russo e Federico Pigozzi, 2022</p>
    </div>
  </body>
</html>
