body{
  background: #181818;
}
h1{
  text-align: center;
  color: #ffffff;
  font-family: Arial;
  font-size: 22px;
}
#fileUpload{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;
  border: 4px dashed #fff;
}
#fileUpload p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
  font-family: Arial;
}
#fileUpload input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
form button{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 500px;
  height: 35px;
  margin-top: 125px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
  font-family: Arial;
  font-size: 16px;
}
form button:hover{
  background: #149174;
  color: #0C5645;
}
#fileUpload button:active{
  border:0;
}
#footer{
  position: fixed;
  z-index:-1;
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
  bottom: 0px;
  width: 100%;
  color: #ffffff;
  font-family: Arial;
  font-size: small;
}
#main{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
}
#esami {
  margin-top: 500px;
  margin-left: 600px;
  width: 300px;
  height: 70px;
  font-family: Arial;
  font-size: 16px;
}

div.evaluating {
  opacity:    1; 
  background: #181818; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
  text-align: center;
  vertical-align: middle;
  padding-top: 200px;
  font-family: Arial;
  font-size: 22px;
  color: #fff;
  display:none
}
